/* Enable scroll */
.scroll-container {
    max-height: 80vh;
    overflow: auto;
}

/* Disable the scrollbar on different browsers */
.scroll-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.scroll-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lesson-img {
    width: auto;
    height: 128px;
}